@import url(./reset.css);

body {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  min-height: 100vh;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}

.nav-side {
  display: flex;
  align-items: center;
}

.nav-side button {
  background-color: white;
  border: 0;
  margin: 0.7rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.year-month {
  font-size: 1.5rem;
  color: black;
  font-weight: 700;
}

.nav-btn {
  width: 28px;
  height: 30px;
  border: none;
  font-size: 16px;
  line-height: 34px;
  background-color: transparent;
  cursor: pointer;
}

.sidebar-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border: none;
  border-left: none;
}

.sidebar-menu p {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  transition: 0.3s;
}

.sidebar-menu .closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 21px;
  color: orange;
  margin-top: 2vh;
  margin-right: 4vw;
}
/* --------모임 생성/참가 ------- */

.groupBtn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 0;
}

.groupBtn button {
  width: 90px;
  height: 30px;
  margin: 3px;
  border: none;
  border-radius: 10px;
  background-color: white;
}

.groupBtn a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-weight: 600;
}

.groups {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.groupName {
  display: flex;
  justify-content: end;
  margin-top: 10px;
  border-radius: 10px;
  width: 80%;
  padding: 10px;
  border: 1px solid orange;
}

.groupName a {
  justify-content: end;
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-right: 1vw;
}

.privategroup {
  display: flex;
  justify-content: end;
  margin-top: 10px;
  border-radius: 10px;
  width: 80%;
  padding: 10px;
  border: 1px solid orange;
  background-color: orange;
}

.privategroup a {
  justify-content: end;
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-right: 1vw;
  background-color: orange;
}

.orange {
  color: orange;
}

/* ----------------------------- */
.modalContainer {
  display: flex;
  justify-content: end;
}

.modalButton {
  background-color: white;
  border: 0;
  margin: 0.5rem;
  color: orange;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}

.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: white;
  padding: 1vh 10vw 5vh 10vw;
  border-radius: 7px;
  width: 90vw;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5);
  margin-top: 2vh;
}

.closeModal {
  position: relative;
  right: -1em;
  display: flex;
  width: 100%;
  justify-content: end;
  margin-top: 15px;
  background-color: transparent;
  border: none;
}
.closeModal i {
  font-size: 21px;
  color: orange;
}

.modal__title {
  color: orange;
  font-weight: bold;
  font-size: 1.7em;
  margin-bottom: 3vh;
}

.planRegister {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  overflow-y: auto;
}

.planRegister-basic input {
  width: 60vw;
  height: 4vh;
  background-color: antiquewhite;
  border: none;
  margin: 1vh -5vw;
  margin-bottom: 2vh;
  text-align: center;
  border-radius: 10px;
}

#share {
  width: 60vw;
  height: 4vh;
  background-color: wheat;
  border: none;
  margin: 1vh -5vw;
}

.hidden {
  display: none;
}

#closeModal {
  background-color: orange;
  color: white;
  padding: 0.2vh 26vw;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 15px;
}

.go-today {
  width: 75px;
  border-left: 1px solid orange;
  border-right: 1px solid orange;
}

.days {
  display: flex;
}

.day {
  width: calc(100% / 7);
  text-align: center;
}

.dates {
  display: flex;
  flex-flow: row wrap;
  height: 55vh;
  border-top: 1px solid orange;
  border-right: 1px solid orange;
  background-color: white;
  border-radius: 5px;
  margin-top: 1em;
}

.date {
  width: calc(100% / 7);
  height: calc(100% / 5);
  padding: 8px;
  text-align: right;
  border-bottom: 1px solid orange;
  border-left: 1px solid orange;
}

.date-onclick {
  width: calc(100% / 7);
  padding: 8px;
  text-align: right;
  border-bottom: 1px solid orange;
  border-left: 1px solid orange;
  box-shadow: none;
  background-color: antiquewhite;
}

/* 일요일은 빨간색, 토요일은 파란색으로 */
.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
  color: #ff3838;
}

.day:nth-child(7n),
.date:nth-child(7n) {
  color: #3374ff;
}

.other {
  opacity: 0;
}

.today {
  position: relative;
  color: black;
  border-radius: 15px;
  padding: 2px;
}

/* .today::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 30px;
  height: 30px;
  display: block;
  background-color: #ff0000;
  border-radius: 50%;
  content: "";
} */

.detail {
  background-color: white;
  height: 37vh;
  display: flex;
}

.detail-member {
  padding-top: 35px;
}

.detail-timeline {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  background-color: white;
  overflow-x: auto;
  white-space: nowrap;
}

.detail-timeline a {
  text-decoration: none;
}

.detail-timeline div {
  width: 1445px;
}

.detail-time {
  display: flex;
  width: 1300px;
}

.detail-time div {
  width: 60px;
}

.timeline div {
  position: relative;
}

.background {
  background-color: white;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile a {
  text-decoration: none;
  color: orange;
  font-size: 22px;
  font-weight: bold;
}

.nim {
  text-decoration: none;
  color: black;
  font-size: 22px;
}

.profileImage {
  margin-right: 3vw;
  margin-bottom: 2vh;
  border-radius: 70%;
}

.profileImagePlan {
  border-radius: 10px;
}

.profileImagePreview {
  border-radius: 40px;
}
