body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
}

h2{
    color:orange;
    margin:3em;
    margin-bottom: 2em;
}

.meetingCreate{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meetingCreate input,textarea,select{
    width: 19em;
    height: 3em;
    background-color: antiquewhite;
    border: none;
    text-align: center;
    border-radius: 10px;
    color: #757575;
}

.meetingCreate div input{
    background-color: orange;
    color:white;
    font-weight: bold;
}

.meetingCreate div a{
    background-color: wheat;
    color:white;
    width: 253px;
    height: 33px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 2vh;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meetingCreate div{
    display: flex;
}