@import url("./reset.css");

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
  font-family: "S-CoreDream-3Light";
}

h2 {
  color: #395165;
  margin: 3em;
  margin-bottom: 1em;
  font-size: 30px;
  font-weight: bold;
}

.meetingCreate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  width: 133px;
  font-weight: 900;
}

.meetingCreate input,
textarea,
select {
  width: 19em;
  height: 3em;
  border: 1px solid rgba(173,168,168,0.5);
  text-align: center;
  color: #757575;
  border-radius: 10px;
}

.meetingCreate div input {
  background-color: var(--main-bg-color);
  color: black;
  font-size: 17px;
  width: 15em;
  height: 2.5em;
  border: none;
  border-radius: 5px;
}

.meetingCreate div a {
  color: black;
  width: 253px;
  height: 33px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 2vh;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.meetingCreate div{
    display: flex;
}

.error__msg{
    color:red;
    font-weight: 600;
    margin-bottom: 1vh;
}

