<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/signup.css' %}" />
    <title>와플</title>
  </head>
  <body>
    <div class="header"></div>
    <div class="main">
      <!-- 회원가입 영역 -->
      <div class="signup-container">
        <p class="signup">추가 정보 입력</p>
        {% block content %}
        <form method="POST" action="" class="signup-form" enctype="multipart/form-data">
          {% csrf_token %}
          <br />
          <p>
            <span>프로필 이미지</span>
            <input type="file" name="image" accept="image/*" class="profileImage" />
            <input type="hidden" name="default_image" value="{{ default_src }}" />
          </p>
          <br />
          <input type="text" name="name" placeholder="이름" class="signup-input" />
          <br />
          <input type="text" name="nickname" placeholder="닉네임" class="signup-input" /></p>
          <br />
          <input type="submit" value="SignUp" class="signup-btn" />
        </form>
        {% endblock content %}
      </div>
    </div>
  </body>
</html>
