<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <title>와플</title>
  </head>
  <body>
    <nav class="nav">
      <div class="nav-side">
        <button onclick="openToggle()">
          <i class="fa-solid fa-bars fa-2x"></i>
        </button>
        <div class="year-month"></div>
      </div>

      <div>
        <button class="modalButton">
          <i class="fa-solid fa-plus fa-2x"></i>
        </button>
      </div>
    </nav>
    <div id="sidebar" class="sidebar-menu">
      <div class="profile">
        {% if user.image %}
        <a href="{% url 'wapl:profile' %}">
          <img src="{{ user.image.url }}" width="65" />
        </a>
        {% else %}
        <!-- 프로필 사진 등록 안 했을 때 기본 프로필 이미지 -->
        {% endif %}
        <a href="{% url 'wapl:profile' %}">
          {{ user.username}} 님
        </a>
      </div>
      <a href="javascript:void(0)" class="closeBtn" onclick="closeToggle()"><i class="fa-solid fa-x"></i></a>
      </a>
   </div>

    <div class="modal hidden">
      <div class="modal__content">
        <form id="create" name="create" method="post">
        날짜:<input type="date" name="date" /> 
        시작 시간:<input type="time" name="startTime"
        />
        끝 시간:<input type="time" name="endTime" /> 
        장소:<input
          type="text"
          name="location"
        />
        제목:<input type="text" name="title" /> 
        내용: <input type="text" name="content" />
        <a href="#" class="closeModal" onclick="plan_create()">추가</a>
      </form>
      </div>
    </div>



    <div class="main">
      <!-- 요일 영역 -->
      <div class="days">
        <div class="day">일</div>
        <div class="day">월</div>
        <div class="day">화</div>
        <div class="day">수</div>
        <div class="day">목</div>
        <div class="day">금</div>
        <div class="day">토</div>
      </div>
      <!-- 날짜 영역 -->
      <div class="dates">
        <!-- 자바스크립트로 넣어줄거에요 ! -->
      </div>
      <div class="detail">
        <div class="detail-date">
          <div class="detail-timeline">
            <p>
              {% for plan in plans %} 
      <a href="plan/{{plan.id}}">{{plan}}</a>{% endfor %}
            </p>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/6fbcf91afd.js"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'javascripts/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </body>
</html>
