<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <title>와플</title>
  </head>
  <body>
    <nav class="nav">
      <div class="nav-side">
        <button><i class="fa-solid fa-bars fa-2x"></i></button>
        <div class="year-month"></div>
      </div>

      <div>
        <button class="create-btn">
          <i class="fa-solid fa-plus fa-2x"></i>
        </button>
      </div>
    </nav>

    <div class="main">
      <!-- 요일 영역 -->
      <div class="days">
        <div class="day">일</div>
        <div class="day">월</div>
        <div class="day">화</div>
        <div class="day">수</div>
        <div class="day">목</div>
        <div class="day">금</div>
        <div class="day">토</div>
      </div>
      <!-- 날짜 영역 -->
      <div class="dates">
        <!-- 자바스크립트로 넣어줄거에요 ! -->
      </div>
      <div class="detail">
        <div class="detail-date">
          <div class="detail-timeline">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Perferendis cum tempore, officia veritatis natus et. Quae est
              laboriosam nisi recusandae fugiat impedit cumque velit vero
              ratione. Optio aperiam veniam voluptas. Lorem, ipsum dolor sit
              amet consectetur adipisicing elit. Omnis tempora eveniet voluptas
              dolore accusantium rerum tenetur fuga sint sit, perferendis, nemo
              vero aliquid id sapiente quidem. Omnis quae voluptatum animi?
            </p>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/6fbcf91afd.js"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'javascripts/main.js' %}"></script>
  </body>
</html>
