<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/meeting_info.css' %}" />
    <title>와플</title>
  </head>
  <body>
    <h2>모임 정보</h2>
    <div class="meetingInfo">
      {% if meeting.image %}
      <img src="{{ meeting.image.url }}" width="100" />
      {% else %}
      <img src="{{ meeting.default_image }}" width="100" />
      {% endif %}
      <p>모임 이름</p>
      {{ meeting.meeting_name }}
      <p>카테고리</p>
      {{ meeting.get_category_display }}
      <p>모임 소개</p>
      {{ meeting.content }}
      <p>모임 관리자</p>
      {{ meeting.owner }}
      <p>초대 코드</p>
      <p>{{ meeting.invitation_code }}</p>
      <p>멤버</p>
      {% for user in users %} {{ user }}
      <br />
      {% endfor %}
      <br />
      <!-- 임시로 해둠 시작 -->
      <a href="{% url 'wapl:meeting_info_edit' meeting.id %}"><p>수정하기</p></a>
      <br />
      <!-- 임시로 해둠 끝 -->
      <div>
        <a href={% url 'wapl:meeting_calendar' meeting.id %}>돌아가기</a>
      </div>
    </div>
  </body>
</html>
