<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/meeting_info.css' %}" />
    <title>와플</title>
  </head>
  <body>
    <div class="meeting__info">
      <div class="meeting__detail">모임 정보</div>
      <div class="meeting__body">
        <div class="meeting__profile">
          {% if meeting.image %}
          <img src="{{ meeting.image.url }}" />
          {% else %}
          <img src="{{ meeting.default_image }}" />
          {% endif %}
          <div class="meeting__headinfo">
            <p class="meeting__name">{{ meeting.meeting_name }}</p>
            <p class="meeting__owner">by {{ meeting.owner }}</p>
          </div>
        </div>
        <div class="meeting__intro">
          <p>{{ meeting.content }}</p>
        </div>
        <div class="meeting__submenu__all">
          <div class="meeting__submenu">
            <span>카테고리</span>
            <p>{{ meeting.get_category_display }}</p>
          </div>
          <div class="meeting__submenu">
            <span>초대 코드</span>
            <p>{{ meeting.invitation_code }}</p>
          </div>
          <div class="meeting__submenu">
            <span>멤버</span>
            <div class="meeting__members">
              {% for user in users %} 
                <div class="meeting__member">{{ user.nickname }}</div>
              {% endfor %}
            </div>
          </div>
        </div>

    </div>   
  </div>
  <div class="meeting__footer">
    <div class="meeting_back">
      <a href="{% url 'wapl:main' %}">돌아가기</a>
    </div>
    <div class="meeting_edit">
      <a href="{% url 'wapl:meeting_info_edit' meeting.id %}"><p>수정하기</p></a>
    </div>
  </div>

  <script
  src="https://kit.fontawesome.com/6fbcf91afd.js"
  crossorigin="anonymous"
></script>
  </body>
</html>
