<!DOCTYPE html>
<html lang="ko">
    {% load static %}
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/plan_update.css' %}" />
        <title>와플 : 개인 일정 수정</title>
    </head>
    <body>
        <div class="plan__detail__update">일정 정보 편집</div>
        <div class="plan_update_container">
            <div class="main">
                <form
                action="{% url 'wapl:update' plan.pk %}"
                method="post"
                enctype="multipart/form-data"
                >
                {% csrf_token %}
                <div class="plan-title">
                  <span class="submenu-span">일정명</span>
                  <input type="text" name="title" value="{{plan.title}}" class="plan_update_title"/>
                </div>
                <div class="center">
                  <div class="center-submenu">
                    <span class="submenu-span">장소</span>
                    <input class="submenu-input" type="text" name="location" value="{{plan.location}}" class="plan_update_place"/>
                  </div>
                  <div class="center-startTime">
                    <span class="submenu-span">시작 시간</span>
                    <input class="submenu-input" type="datetime-local" name="startTime" value="{{plan_sT}}" class="plan_update_time" />
                  </div>
                  <div class="center-endTime">
                    <span class="submenu-span">종료 시간</span>
                    <input class="submenu-input" type="datetime-local" name="endTime" value="{{plan_eT}}" class="plan_update_time"/>
                  </div>
                  <div class="center-submenu">
                    <span class="submenu-span">일정 내용</span>
                    <input
                    type="textarea"
                    name="content"
                    value="{{plan.content}}"
                    class="plan_update_content"
                    />   
                  </div> 
                </div>
                  <div class="modal-share hidden">
                    <div class="share-box">
                      {% for share in share_list %}
                      <div>
                        <span>{{share.meeting.meeting_name}}</span>
                        
                        <div class="share-select">
                          <input
                            type="radio"
                            name="{{share.meeting.id}}"
                            id="{{share.meeting.id}}-open"
                            {% if share.is_share == 'open' %}
                            checked = 'checked'
                            {% endif %}    
                            value='open'
                          />
                          <label for="{{share.meeting.id}}-open">공개</label>
            
                          <input
                            type="radio"
                            name="{{share.meeting.id}}"
                            id="{{share.meeting.id}}-close"
                            {% if share.is_share == 'close' %}
                            checked = 'checked'
                            {% endif %} 
                            value='close'   
                          />
                          <label for="{{share.meeting.id}}-close">비공개</label>
            
                          <input
                            type="radio"
                            name="{{share.meeting.id}}"
                            id="{{share.meeting.id}}-untitled"
                            {% if share.is_share == 'untitled' %}
                            checked = 'checked'
                            {% endif %} 
                            value='untitled'   
                          />
                          <label for="{{share.meeting.id}}-untitled">익명</label>
                        </div>
                      </div>
                      {% endfor %}
                      <button class="share-select-save" onclick="share_save()">저장</button>
                    </div>
                    </div>
                    <div class="share">
                      <span>공개범위 <i class="fa-regular fa-hand-pointer"></i></span>
                    </div>
                    <div class="control-container">
                      <a class="home" href="{% url 'wapl:main' %}"><i class="fa-solid fa-house"></i></a>
                        <input type="submit" , value="저장하기" />
                        <a class="back" href="{% url 'wapl:detail' plan.pk %}">돌아가기</a>
                    </div>
                </form>
                {% comment %} <button class="closeModal">
                  <i class="fa-solid fa-x"></i>
                </button> {% endcomment %}
            </div>
        <script
        src="https://kit.fontawesome.com/5658349e28.js"
        crossorigin="anonymous"
        ></script>
        <script src="{% static 'javascripts/detail.js' %}"></script>
    </body>
</html>
