<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/plan_update.css' %}" />
        <title>Update</title>
    </head>
    <body>
        <div class="plan_update_container">
            <div class="header">
                <a href="{% url 'wapl:main' %}"><i class="fa-solid fa-house"></i></a>
            </div>
            <div class="main">
                <form
                action="{% url 'wapl:update' plan.pk %}"
                method="post"
                enctype="multipart/form-data"
                >
                {% csrf_token %}
                <input type="text" name="title" value="{{plan.title}}" class="plan_update_title"/>
                <div class="center">
                    <input type="text" name="location" value="{{plan.location}}" class="plan_update_place"/>
                </div>
                    <input type="datetime-local" name="startTime" value="{{plan_sT}}" class="plan_update_time" />
                    ~
                    <input type="datetime-local" name="endTime" value="{{plan_eT}}" class="plan_update_time"/>
                    <input
                    type="textarea"
                    name="content"
                    value="{{plan.content}}"
                    class="plan_update_content"
                    /><br />
                <div class="control-container">
                    <input type="submit" , value="저장하기" />
                    <a href="{% url 'wapl:detail' plan.pk %}">돌아가기</a>
                </div>
                </form>
            </div>
        <script
        src="https://kit.fontawesome.com/5658349e28.js"
        crossorigin="anonymous"
        ></script>
    </body>
</html>
