<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeting Detail</title>
</head>
<body>

    <!-- 완전 임시입니다~ -->

    <p>모임명 : {{meeting.meeting_name}}</p>
    <p>모임 소개 : {{meeting.content}}</p>
    <p>모임 종류 : {{meeting.get_category_display}}</p>
    <p>멤버 : {{meeting.user}}</p>
    <p>일정 : {{meeting.plan}}</p>

    <form action="{% url 'wapl:meeting_delete' meeting.pk %}" method="post">
    {% csrf_token %}
        <input type="submit" , value="삭제하기" />
    </form>

</body>
</html>