<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'wapl:meeting_create' %}" method="post">
        {% csrf_token %}
        <input name="meeting_name" placeholder="모임 이름" />
        
        <select name="category" id="category">
            <option value="family">가족</option>
            <option value="couple">연인</option>
            <option value="club">동아리</option>
            <option value="friend">친구</option>
            <option value="school">학교</option>
            <option value="company">회사</option>
        </select>

        <textarea name="content" placeholder="모임 소개"></textarea>
        <input name="user" placeholder="멤버" />
        <input name="plan" placeholder="일정" />

        <div>
            <input type="submit" value="모임 생성">
        </div>

    </form>


    
</body>
</html>