<!DOCTYPE html>
<html lang="ko">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/update_password.css' %}" />
    <title>와플 : 비밀번호 수정</title>
  </head>
  <body>
    <div class="header"></div>
    <div class="main">
      <!-- 비밀번호 변경 페이지 영역 -->
      <div class="update_password-container">
        <p class="update_password">비밀번호 변경</p>
        <form action="" method="post" class="update_password-form">
          {% csrf_token %}
          <label for="id_old_password">기존 비밀번호:</label>
          <input
            type="password"
            name="old_password"
            autocomplete="current-password"
            autofocus=""
            required=""
            id="id_old_password"
          />
          <br />
          <label for="id_new_password1">새 비밀번호:</label>
          <input
            type="password"
            name="new_password1"
            autocomplete="new-password"
            required=""
            id="id_new_password1"
          />
          <br />
          <p>• 다른 개인 정보와 유사한 비밀번호는 사용할 수 없습니다.</p>
          <p>• 비밀번호는 최소 8자 이상이어야 합니다.</p>
          <p>• 통상적으로 자주 사용되는 비밀번호는 사용할 수 없습니다.</p>
          <p>• 숫자로만 이루어진 비밀번호는 사용할 수 없습니다.</p>
          <br />
          <label for="id_new_password2">새 비밀번호 (확인):</label>
          <input
            type="password"
            name="new_password2"
            autocomplete="new-password"
            required=""
            id="id_new_password2"
          />
          <div>
            <input type="submit" value="수정" class="update_password-btn" />
            <a href="{% url 'wapl:profile' %}" class="return">취소</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
