<form action="{% url 'wapl:withdraw_transfer' %}" method="post">
    {% csrf_token %}
    <p>회원 탈퇴 마지막 단계입니다! 현재 관리자로 설정된 모임의 관리자를 새로 설정해주세요!</p>
    <p>관리자로 설정된 모임이 없다면, 바로 버튼을 누르시면 됩니다.</p>
    <p>본인을 선택하면, 해당 모임은 탈퇴와 함께 삭제됩니다.</p>
    {% for meeting, users in datas %}
        <div>
            {{ meeting.meeting_name }}
            <br />
            {{ meeting.get_category_display }}
            <br />
            {{ meeting.content }}
            <br />
            <select name="new_owner_{{ meeting.id }}" id="">
                {% for meeting_user in users.all %}
                    <option value="{{ meeting_user.id }}">{{ meeting_user.nickname }}</option>
                {% endfor %}
            </select>
        </div>
        <br />
        <br />
    {% endfor %}
    <input type="submit" value="설정 완료" />
</form>