<!DOCTYPE html>
<html lang="ko">
    {% load static %}
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/withdraw.css' %}" />
        <title>와플 : 회원 탈퇴</title>
    </head>
    <body>
        <div class="header"></div>
        <div class="main">
        <!-- 회원 탈퇴 영역 -->
        <div class="withdraw-container">
            <p class="withdraw">회원 탈퇴</p>
            <form method="POST" novalidate class="withdraw-form">
                {% csrf_token %}
                <span>유의 사항</span>
                <p>회원 탈퇴 전에 꼭 확인하세요!</p>
                <p>회원 탈퇴 진행 시 <span>{{ user.nickname }}</span> 회원님의 계정이 삭제됩니다.</p>
                <p>탈퇴 시 개인 정보 및 이용 정보가 모두 삭제되며 복구할 수 없습니다. </p>
                <p>모임에 참가한 경우, 모임 참여자에서 자동으로 삭제됩니다. </p>
                <p>본인의 비밀번호를 입력한 후 하단의 유의 사항 동의에 체크하여 진행해 주세요.</p>
                <div>
                    <label name="label_password" for="{{ password_form.password.id_for_label }}">{{ password_form.password.label }}</label>
                    {{ password_form.password }}
                    {% if password_form.password.errors %}
                    <script type="text/javascript">
                        document.getElementsByName('password')[0].setAttribute('class', 'form-control is-invalid')
                    </script>
                    {% for error in password_form.password.errors %}
                    <div class="invalid-feedback red">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <p>
                        본인인증을 위해 비밀번호를 입력해 주세요.
                    </p>
                </div>
                <label>
                    <input type="checkbox" name="ck" onClick="checkDisable(this.form)" class="margin">
                    <span>유의 사항 동의</span>
                </label>
                <div class="withdraw__footer">
                    <input type="submit" name="bt" disabled="true" value="계속 진행" class="withdraw-btn" />
                    <a href="{% url 'wapl:profile' %}" class="return">취소</a>
                </div>
            </form>
        </div>
        <script type="text/javascript">
            function checkDisable(form) {
                if (form.ck.checked == true) {
                    form.bt.disabled = false;
                } else {
                    form.bt.disabled = true;
                }
            }
        </script>
    </body>
</html>
